<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
    <h1>{{title}}</h1>
    <div id="main">
        <div id="settings" class="top_box">
            {{>settings}}
        </div>
        <div class="top_box preview">
            <h2>Preview</h2>
            <div id="preview"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="bottom">
        <textarea rows="10" cols="65" readonly id="source"></textarea>
    </div>
    <script>
    (function(){
        $('#get_button').on('click', function() {
            var days=$('#days_number').val();
            var city=$('#city').val();
            var orient=$('.radio_orientation:checked').val();
            $.get("widget/"+city+"/"+days+"/"+orient, function(data) {
                $("#preview").html(data);
                $("#source").text(data);
            });
        });
    })()
    </script>
</body>
</html>
